.boardWrapper {
  width: calc(var(--gridCol) * var(--gridSize));
  height: calc(var(--gridCol) * var(--gridSize));
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  position: relative;

  &--item {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--primary-grey);
    box-shadow: inset 0 0 0 2px #fff;

    &--gift {
      position: absolute;
      inset: 0;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      animation: fadeIn 400ms var(--material-cubic-bezier);

      &--image {
        width: 80%;
      }
    }
  }
}
