.arrowWrapper {
  position: absolute;
  width: var(--gridSize);
  height: var(--gridSize);
  box-shadow: inset 0 0 0 2px #fff;
  background-color: var(--secondary-grey);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 200ms var(--material-cubic-bezier);

  &--icon {
    transition: transform 200ms var(--material-cubic-bezier);
    position: relative;
    width: 100%;
    height: 100%;

    > img {
      position: absolute;
      inset: 0;
      margin: auto;
      width: 40%;

      &:nth-child(1) {
        animation: fadeOut 800ms var(--material-cubic-bezier) forwards;
      }

      &:nth-child(2) {
        opacity: 0;
        animation: fadeIn 1s 600ms var(--material-cubic-bezier) forwards;
      }
    }
  }
}
