.actionBarWrapper {
  display: flex;
  align-items: center;
  height: 40px;
  margin: 0 0 20px;

  &--mode {
    display: flex;
    align-items: center;
    padding: 6px;
    background-color: #f7f7f7;
    border-radius: 6px;

    @media screen and (max-width: 600px) {
      display: none;
    }

    &--item {
      cursor: pointer;
      padding: 4px 12px;
      border-radius: 4px;
      font-size: 14px;

      &.active {
        background-color: #fff;
      }
    }
  }

  &--prizes {
    display: flex;
    align-items: center;
    margin: 0 20px;

    @media screen and (max-width: 600px) {
      margin: 0 20px 0 0;
    }

    &--item {
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      overflow: hidden;
      border: 4px solid #fff;
      outline: 2px solid var(--ascent-color);
      background-color: var(--primary-grey);
      animation: fadeIn 400ms var(--material-cubic-bezier);

      + div {
        margin-left: -10px;
      }

      > img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
  }

  &--total {
    padding: 6px;
    background-color: var(--primary-grey);
    border-radius: 6px;
    font-size: 14px;
    margin-left: auto;
    animation: fadeIn 400ms var(--material-cubic-bezier);
  }

  &--instruction {
    margin-left: auto;
    font-size: 14px;
    animation: fadeIn 400ms var(--material-cubic-bezier);

    @media screen and (max-width: 600px) {
      display: none;
    }

    p {
      margin: 0;
      padding-right: 5px;
      kbd {
        font-size: 12px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1 / 1;
        padding: 4px;
        margin-right: 4px;
        border-radius: 4px;
        background-color: var(--primary-grey);
      }

      span {
        position: relative;
        &:not(:last-child) {
          margin-right: 10px;
          padding-right: 10px;
          &:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 1px;
            background-color: var(--ascent-color);
            height: 100%;
          }
        }
      }
    }
  }
}
